*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig


__pycache__/*
__pycache__
*.pyc
pkg/
src/


.ssh
.pgp
.gpg
# Maschinenlokale Secrets, nie committen
.zshrc.local

# Interne Doku/Notizen ausserhalb des Repos
archive/docs/


.config/librewolf/
.config/copyq/
